# на сервері та локально - будуть різні
# favicon.ico

.env
.ide
venv/

*.srv.*
*.old.*
*.log
*.pem
*.key
*.pdf
*.tgz
*.zip
*.doc
*.docx

*.pyc
data/*.txt
data/sent/*.txt


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
